<app-header />
<div class="container" *ngIf="!isEditing">
  <div class="container">
    <h2>ORDERS FORM</h2>
    <app-order-form />
  </div>
  <div class="container" style="padding: 1rem">
    <div class="container">
      <h2>ORDERS TABLE</h2>
    </div>
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Client</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody *ngIf="orders.length > 0">
      <tr *ngFor="let order of orders; index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ getClientNameById(order.clientId) }}</td>
        <td>{{ getProductNameById(order.productId) }}</td>
        <td>{{ order.quantity }}</td>
        <td>
          <button (click)="changeModeToEdit(order)" class="btn btn-warning m-2">Edit</button>
          <button  (click)="deleteOrder(order.id)" class="btn btn-danger m-2" >Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" *ngIf="isEditing">
  <div class="container">
    <h2>ORDERS EDIT FORM</h2>
  </div>
  <div class="form-group">
    <label for="client">Select a Client</label>
    <select
      class="form-control"
      id="client"
      [(ngModel)]="partial.clientId"
      required
    >
      <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="product">Select a Product</label>
    <select
      class="form-control"
      id="product"
      [(ngModel)]="partial.productId"
      required
    >
      <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="quantity">Enter a Quantity</label>
    <input
      type="number"
      class="form-control"
      id="quantity"
      placeholder="3"
      [(ngModel)]="partial.quantity"
      required
    >
  </div>

  <div class="container d-flex justify-content-center p-2">
    <button (click)="editOrder()" class="btn btn-primary m-2">Edit</button>
    <button (click)="changeModeToView()" class="btn btn-secondary m-2">Go Back</button>
  </div>
</div>
